@page
@model Waling.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Our people";
}

<p>
    This is a learning exercise.
    None of these people are real.
    They are from a library called Bogus.
    There are @Model.People.Count() people on this list.
</p>
@if (Model.People.Any())
{
    foreach (var person in Model.People)
    {
        <div class="d-flex">
            <img class="img" src="@person.Avatar" alt="a photo of @person.FullName" style="width:128px; height:128px;">
            <p>My name is @person.FirstName. My email is <a href="mailto:@person.Email">@person.Email</a>. My social security is @person.SocialSecurityNumber. My username is @person.UserName.</p>
        </div>
    }
}
