@page
@model Waling.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Our people";
}

<p>
    This is a learning exercise. 
    None of these people are real. 
    They are from a library called Bogus.
</p>
@if (Model.People.Any())
{
    foreach (var person in Model.People)
    {
        <div class="d-flex flex row">
            <img src="@person.Avatar" alt="A photo of @person.FirstName @person.LastName" class="img img-responsive img-thumbnail col-md-3 col-sm-12" />
            <p class="col-md-9 col-sm-12">
                Hi, everyone! I am @person.FirstName. 
                My full name is @person.FullName. 
                You can reach me at my email address <a href="mailto:@person.Email">@person.Email</a>. 
                My unique fact is @person.SomethingUnique.
                My social security number is @person.SocialSecurityNumber. 
                I identify as @person.Gender and my pronouns are 
                @if (@person.Gender == Bogus.DataSets.Name.Gender.Male)
                {
                    <span>he/him</span>
                } else @if (@person.Gender == Bogus.DataSets.Name.Gender.Female)
                {
                    <span>she/her</span>
                } else 
                {
                    <span>it/its</span>
                }
                .
            </p>
        </div>
    }
}